{%- assign item = include.post -%}
{%- if item.domain -%}{{- item.domain -}}
{%- elsif item.categories contains 'timing' or item.categories contains 'sta' or item.categories contains 'sdc' -%}timing
{%- elsif item.categories contains 'eda' or item.categories contains 'r2g' -%}eda
{%- elsif item.categories contains 'investment' or item.categories contains 'investing' or item.categories contains 'trading' or item.categories contains '投資' -%}investing
{%- elsif item.categories contains 'distributed-systems' or item.categories contains 'kubernetes' -%}distributed-systems
{%- elsif item.categories contains 'architecture' or item.categories contains 'tpu' -%}architecture
{%- elsif item.categories contains 'networking' or item.categories contains 'optics' or item.categories contains '網路技術' -%}networking
{%- elsif item.categories contains 'ai-industry' or item.categories contains 'ai-supply-chain' or item.categories contains 'ai-datacenter' or item.categories contains 'AI' -%}ai-industry
{%- else -%}notes
{%- endif -%}
